/*-- scss:defaults --*/

// fonts
$presentation-heading-color: #C41230;
$presentation-h2-font-size: 1.1em;
$presentation-font-smaller: 0.63;
$code-block-font-size: 0.7em;

.reveal code {
  font-size: 0.8em !important;
  line-height: 1.4;
}